@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

body {
  color: white;
  background: black;
  min-height: 100vh;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}